<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="rule 2a" stopProcessing="true">
                    <match url="^([a-z0-9-]+)$"  />
                    <action type="Rewrite" url="index.php?cat={R:1}"  />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Rewrite To Webroot from Root" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>