<rule name="generated-0" stopProcessing="true">
  <match url=".*" />
    <conditions logicalGrouping="MatchAny">
      <add input="{URL}" pattern="bin/resume.pdf$" />
    </conditions>
    <action type="Redirect" appendQueryString="false" url="resume" redirectType="Permanent" />
</rule>

<rule name="generated-1" stopProcessing="true">
  <match url=".*" />
    <conditions logicalGrouping="MatchAny">
      <add input="{URL}" pattern="index.php?cat={R:1}$" />
    </conditions>
    <action type="Redirect" appendQueryString="false" url="([_0-9a-z-]+)" redirectType="Permanent" />
</rule>