
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
            <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/500.htm">
                <error statusCode="404" redirect="~/Errors/404.htm"/>
            </customErrors>
        </system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="rule 1a" stopProcessing="true">
                    <match url="^resume$"  />
                    <action type="Rewrite" url="bin/resume.pdf"  />
                </rule>
                <rule name="rule 2a" stopProcessing="true">
                    <match url="^([a-z0-9-]+)$"  />
                    <action type="Rewrite" url="index.php?cat={R:1}"  />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="Rewrite To Webroot from Root" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>